/* Text */
h1, h2, h3 , h4, h5, h6 {
    font-family: 'Work Sans', sans-serif;
  }
  p {
    font-family: 'Work Sans', sans-serif;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #818568;
  }

  .regular {
    font-size: 2rem;
    font-weight: 400;
    color: #818568;
  }


  /* General */
.customNav {
    position: fixed;
    width: 100%;
    background-color: rgba(236, 238, 222, 0.7) !important;
    background-size: cover;
    z-index: 10;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  .navbar-brand img {
    padding-right: 15px;
    width: 165px;
  }
  .nav-item {
    margin: 0px 15px;
  }
  
  /* Navigation dropdown menu */
  .dropdown-menu {
    background: url("../images/transparency.png");
    background-color: transparent !important;
    background-size: cover;
  }
  .dropdown-item:focus, .dropdown-item:hover {
      color: #ECEEDE;
      text-decoration: none;
      background: #ECEEDE;
  }
  
  /* Navigation links */
  .customNav a {
    color: #304237 !important;
    font-weight: 600;
    font-size: 18px;
  }

  .nav-link:hover {
    background-color: rgba(90, 111, 32, 0.25);
    border-radius: 8px;
  }

  .navCTA {
    font-size: 15px;
  }

  .navcenter {
    text-align: center !important;
  }
  
  /* Jumbotron  */
  .jumbotron {
    background-image: url(../images/david-marcu-unsplash.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Jumbotron copy */
  .jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: #ECEEDE;
    text-align: center;
  }

  .heromain {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.2;
  }

  .leadin {
    font-size: 1.25rem;
    font-weight: 400;
  }

  .btnCTA {
    color: #fff;
    background-color: #9A7763 !important;
    border-color: #9A7763 !important;
  }

  .cropped {
    padding-top: 48px;
    width: 430px;
    height: 650px;
    object-fit: cover;
    object-position:top center;
  }

  .backcolor {
    background-image: linear-gradient(to right, #304237 , #818568);
    background-color: rgba(106, 0, 189, .05);
    padding: 64px 0 0 0;
  }

  .cream {
    color:#ECEEDE !important;
  }

  .center {
    margin:auto !important;
    text-align: center;
}

/* Customer Reviews */
.card {
  background-color: #C1C1BB;
  color: black;
  margin-bottom: 15%;
}

.stars {
  color: #FFD700;
  margin-top: 48px;
  margin-bottom: 24px;
}

.star {
  display: inline-block;
  margin-right: 3px;
  width: 20px;
  height: 20px;
  background-image: url('images/star.png');
  background-size: contain;
}

.shift {
  position: relative;
  margin-top:-350px;
  margin-left: auto;
  margin-right: auto;
  z-index:5;
}

.relative {
  position: relative;
}